/Java/JavaSE8ProgrammerOne/ManagingMultipleItems/UsingStrings/target/
/Java/JavaSE8ProgrammerOne/ManagingMultipleItems/shoppingcart/target/
/Java/JavaSE8ProgrammerOne/ManagingMultipleItems/Shopping2/target/
/Java/JavaSE8ProgrammerOne/ManagingMultipleItems/soccerleague/target/
/Java/JavaSE8ProgrammerOne/ManagingMultipleItems/Shopping3/target/
/Java/JavaSE8ProgrammerOne/ManagingMultipleItems/TestClass/target/
