body {
  margin: 2%;
  padding: 2%;
}
div {
  width: 500px;
  height: 100px;
}
.errorRep {
  color: red;
  font-family: Verdana, sans-serif;
  font-size: 10px;
}
span {
  float: right;
  visibility: hidden;
  position: relative;
  right: 120px;
  top: -10px;
}
input [type="text"],
input[type="number"] {
  width: 150px;
}
